
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand dodo" href="#">Chris News Agency</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse  my-2 my-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        
    </ul>

    <span class="nav-item active">
        <a class="nav-link text-white" href="#">Home <span class="sr-only">(current)</span></a>
    </span>


        <span class="nav-item">
          <a class="nav-link  text-white" href="/login">Login</a>
        </span>
    
        <span class="nav-item ">
          <a class="nav-link text-white" href="/signup">Sign Up</a>
        </span>
     
     
    </div>
  </nav>